.viewAllCalkulator {
    background-color: lightgray;
    border-radius: 10px;
    width: 350px;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 3px;
    
   

}

.viewAllCalkulator-line {
    background-color: lightgray;
    width: 100%;
     

}

.wyswietlacz{
    background-color: whitesmoke;
    width: 98%;
    height: 20px;
    text-align: right;
    border-radius: 10px;
  

}
.klawiatura{
    width: 100%;
    position: relative;
  
    
    
    
}
.viewbutton{
    border: 2px solid aqua;
    width: 18%;
    height: 40px;
    background-color: darkgrey;
    color: whitesmoke;
    border-radius: 5px;
 
    
}

.viewbutton1{
    border: 2px solid aqua;
    width: 37%;
    height: 40px;
    background-color: darkgrey;
    color: whitesmoke;
    border-radius: 5px;
    
}
.viewbutton2 {
    border: 2px solid aqua;
    width: 18%;
    height: 80px;
    background-color: darkgrey;
    color: whitesmoke;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    
    
}
    
