.viewAllCalkulator {
    background-color: white;
    border-radius: 10px;
    width: 330px;
    height: 420px;
    border: 3px solid black;
    margin: 0 auto;
    border-radius: 5px;
    padding: 3px;



}



.viewAllCalkulator-line {
    background-color: white;
    width: 100%;


}

#logo {

    background-position: center
}

img {
    height: 25px;
    width: auto;
    margin: 0 auto;


}

.panel {

    background-color: white;

}

.wyswietlacz {
    background-color: black;
    width: 98%;
    height: 50px;
    text-align: right;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 15px;


}

.klawiatura {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 15px;


}

.viewbutton0 {

    width: 30%;
    height: 30px;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 15px;
    margin: 0 auto;

}

.viewbutton {

    width: 19%;
    height: 60px;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 6px;



}

.viewbutton1 {

    width: 39%;
    height: 60px;
    background-color: red;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 30px;

}

.viewbutton2 {

    width: 19%;
    height: 124px;
    background-color: red;
    color: whitesmoke;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    font-size: 30px;
    margin-left: 4px;


}